<h1>BOOP FARMAR</h1>
<ul>
  <li><%= link_to "I'm a Market YAY", markets_path %></li>
  <li><%= link_to "I'm a Vendor YAY", vendors_path %></li>
  <li><%= link_to "I'm a Guest YAY",  markets_path %></li>
</ul>