<nav class='far-mar-index'>
<ul>
    <div class='far-mar-index'>
      <div><p>Market</p><%=link_to(image_tag("market.png"), markets_path(:user => "market"))%></div>

      <div><p>Guest</p><%=link_to(image_tag("guest.png"), markets_path(:user => "guest"))%></div>

      <div><p>Vendor</p><%=link_to(image_tag("vendor.png"), vendors_path(:user => "vendor"))%></div>
    </div>
  </ul>
</nav>
