<h1>
  <%= image_tag "my_little_farmar.png" %> 
</h1>
<ul>
  <li><%= link_to "I'm a Market YAY", markets_path(:user => "market")%></li>
  <li><%= link_to "I'm a Vendor YAY", vendors_path(:user => "vendor") %></li>
  <li><%= link_to "I'm a Guest YAY",  markets_path(:user => "guest")%></li>
</ul>