<h1>Welcome To Lisa and Risha's Farmers Market!</h1>
<%= link_to "Markets", markets_path %>
<%= link_to "Vendors", vendors_path %>

<article class="farmer-ipsum">
  <p>Goat goose hen horse. John Deere bees, parsley sweet corn at, porky pig shovels. Lamb pig rooster sheep. Post pounder calf, hay or duck is, tool shed horse. Straw augers beef kettle our crickets. Kidney beans ostrich trucks. In quilt yearlings, gobblers pumpkin are porky pig beef, sheep rose garden sage.
  </p>
</article>