<header>
  <h1> FarMar </h1>
</header>

<p> Are you a Market or a Vendor? </p>

  <ul>
    </li> <%= link_to "Vendor", vendor_path %> </li>
    </li> <%= link_to "Market", market_path %> </li>
  </ul>

  <h4> <%= link_to "View All Markets", all_markets_path %>
