<!-- a list of all vendors -->
 
<h1>Vendors</h1>
<pre><%= params %></pre>


<table class="table table-striped" class="table table-hover">
  <tr class="header-row">
    <th>Name</th>
    <th>No. of Employees</th>
  <% if params["controller"] == "vendors" %>
    <th>Market</th>
    <% end %>
  </tr>
  <tr class="row">
    <% @vendors.each do |vendor| %></tr>
  	 <td><%= vendor.name %></td>
  	  <td><%= vendor.employee_count %></td>
      <% if params["controller"] == "vendors" %>
      <% if vendor.market_id %>
        <td><%= link_to vendor.market.name, market_path(vendor.market_id) %></td>
  	  <% end %>
      <% end %>
    <% end %>
  </tr>
</table>
