<% @vendor.products.each do |prod| %>
  <p><%= prod.name %>
    <%= link_to "Edit", edit_vendor_product_path(@vendor.id,prod.id) %>
    <%= button_to "Delete", vendor_product_path(@vendor.id, prod.id), method: :delete, data: { confirm: "Are you sure you want to delete that product?" }%>
  </p>
<% end %>
