<h1>Vendors</h1>


<ul>
  <%@vendors.each do |vendor|%>
    <li>
      <%=vendor.name%>
  <%= link_to "Products", vendor_products_path(vendor)%>
  <%=link_to "Sales", vendor_sales_path(vendor)%>
    </li>
  <%end%>
</ul>
