<h1>Here are your products!</h1>

<% @products = Product.where(vendor_id: @vendor.id) %>
<ul>
  <% @products.each do |product| %>
  <li>
    <%= product.name %>
    <%= link_to "Edit", edit_product_path(product) %>
    <%= link_to "", {:controller => :products, :action => 'destroy', :id => product.id}, method: :delete, data: {confirm: "Are you sure you want to delete this product?"}, class:"glyphicon glyphicon-trash"%>
  </li>
  <% end %>
</ul>

<%= link_to "New Product", new_product_path(vendor_id: @vendor.id) %>