<h2>
  All Products:
</h2>
 <%= link_to "Add a New Product!", new_product_path(@vendors.id) %>
  <ul>

    <% @products.each do  |product| %>
      <li>Product Name: <%= link_to product.name, product_path(@vendors.id, product.id) %> </li>
      <li>Product Number: <%= product.product_number %> </li>

      <%= button_to "delete", destroy_product_path(@vendors.id, product.id), { method: :delete, data: {confirm: 'Are you sure you want to delete?'}} %>
    <% end %>

  </ul>
