<h3>Market created!</h3>

<h4> <%= link_to "View All Markets", all_markets_path %>

</li> <%= link_to "Market Home", market_path %> </li>
</li> <%= link_to "Vendor Home", vendor_path %> </li>
</li> <%= link_to "FarMar", root_path %> </li>
