<h1>Farmer's Markets!</h1>

<section>
  <ul>
    <% @all_markets.each do |market| %>
      <% if market[:id] != market[:market_id] %>
        <%#to check primary key match market_id %>
        <%= "This is data doesn't match." %>
      <% else %>
        <li><%= link_to market.name, market_path(market.id) %></li>
      <% end %>
    <%end%>
  </ul>
</section>

<h2><%= link_to 'home', root_path %><h2>
<h2><%= link_to 'Register your Farmers Market', new_market_path %><h2>
