<ul>
  <% @markets.each do |market| %>
  <li>
    <%= link_to market.market_name, market_path(market.id)%>
  </li>
  <% end %>
</ul>

<!-- IF STATEMENT FOR Authentication -->
<%= link_to "Add Market", new_market_path%>
