<h1>Hello!</h1>
<%= link_to "Browse as Vendor", vendors_path %>

<ul>

<% @markets.each do |market| %>

  <li>
    <%# makes sense to link markets by name %>
    <%= link_to market.name, market_path(market.id) %>


  </li>

<% end %>

</ul>

<p>
  <%= link_to "ADD NEW MARKET", new_market_path %>
</p>
