
<h1> Welcome Market Partner!</h1>

<%=link_to "Create a New Market", new_market_path%>


<table>
  <%@markets.each do |market|%>
  <tr>
    <td>
      <%= link_to market.name, market_path(market.id)%>
    </td>
  </tr>
  <%end%>

</table>
