

<h1>Markets</h1>
<<<<<<< HEAD
<div class="market_button">
	<%= link_to new_market_path, class: 'btn btn-success' do %>
	  Add a New Market
	<% end %>
</div>
<br>
<br>
=======
<%= link_to "Add a New Market", new_market_path %>
>>>>>>> a70390236ac4ebc205b9086b379b230d67b4ce8c
<table class="table table-striped" class="table table-hover">
<tr>
<th>Name</th>
<th>Edit</th>
</tr>
<tr class="row"><% @markets.each do |market| %></tr>
	<td><%= link_to market.name, market_path(market.id) %></td>

	<td class="edit">
    <%= link_to edit_market_path(market.id) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    </td>


	<% end %>

</table>
