<!-- market index page -->

<header>
  <h1> FarMar </h1>
  <h2>Markets</h2>
</header>

  <nav>
    <ul>
      <li> <%= link_to "Create a Market", new_market_path %> </li>
      <li><%= link_to "View All Markets", all_markets_path %></li>
    </ul>
  </nav>
