<!-- market index page -->

<header>
  <h1> FarMar </h1>
  <h2>Markets</h2>
</header>

  <nav>
    <ul>
      </li> <%= link_to "Create a Market", new_path %> </li>
    </li> <%= link_to "Edit a Market", update_path %> </li>
    </ul>
  </nav>
