html {
  min-height: 100%;
  position: relative;
}

.welcome {
  background-image: url("farmer_market sign.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 10px;
  height: 400px;
  width: 400px;
  margin-left: 445px;
  margin-right: 323px;
}


.market_button .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-left: 0;
  margin-top: 0;
}

.market_form{
  margin-left: 5px;
}

.sales_link .btn-success {
    color: #fff;
    background-color: #5cb85c;
    margin-left: 5px;
    border-color: #4cae4c;
    margin-top: 5px;
}

.new_sales .btn-success {
    color: #fff;
    background-color: #5cb85c;
    margin-left: 5px;
    border-color: #4cae4c;
    margin-top: 5px;
}

.product_button .btn-success {
    color: #fff;
    background-color: #5cb85c;
    margin-left: 5px;
    border-color: #4cae4c;
    margin-top: 5px;
    margin-bottom: 5px;
}


.vendor_links .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-left: 5px;
    margin-top: 5px;
}

body {
  margin: 0 auto;
  width: 100%;
  position: absolute;
}

header{
  text-align: center;
  height: 100%;
  width: 100%;
}

.header {
  background-image: url("header_pic.jpg");
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  text-align: center;
  width: 500px;
}

image {
  text-align: center;
}

footer {
  background-image: url('grass.jpg');
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: static;

}
.btn-success {
  margin-top: 5%;
  border-radius: 24px;
  margin-left: 5%;
}

.home-buttons {
   display: inline;
   text-align: center;
   margin-left: 35%;
}
