body {
  font-size: 2rem;
  margin: auto;
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10-25,Safari5.1-6 */
}

.bar-image {
  width: 56%;
  height: 16rem;
}

.home-submit {
  margin-top: 4rem;
  border: 15px groove #73AD21;
  padding: 7px;
  color: #000!important;
}

.market-card {
  margin: 1rem;
  border: 15px groove #73AD21;
  padding: 7px;
  color: #000!important;
  width: 25rem;
  height: 20rem;
  float: left;

}

.m-card {
  display: block;
}

footer {
  display: inline-block;
  clear: both;
}
