* {
  box-sizing: border-box;
}

html { font: normal normal 16px/1.5 Century Gothic; }

body {
  background-color: rgb(217, 212, 211);

}

* h1 {
  text-align: center;
}

header {
  background-image: url("../assets/modifiedsign.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  width: 100%;
  height: 300px;
}

* a {
  display: block;
  text-align: center;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

.navbar li a {
  text-decoration: none;
  color: red;
  font-family: Garamond;
  font-size: 1.5em;
  padding: 5px 20px;
  display: block;

}

.navbar li {
  display: inline-block;

}
