// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bigmarket {
  display: block;
  margin: auto;
  background-size: cover;
}

.home_class {
  background-image: url("./market_pic.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}
