<h2>Update a Product</h2>

<%= render 'productform' %>

<%# form_for @product do |f| %>
<!-- use the instance to give form_for all the information they need to know about tasks! -->
  <%# field_set_tag 'Product Information' do %>
    <%# f.label :name %>
    <%# f.text_field :name %>

    <%# f.submit %>

  <%# end %>
<%# end %>
