<h2>Edit a Product</h2>
<%= form_for @product, method: :patch, url: vendor_product_path(@vendor, @product) do |f| %>

<%= f.label :'Product Name:' %>
	<br>
	<%= f.text_field :name, class: 'field' %>
	<br>
	<%= f.submit %>
<% end %>