<h1>Vendor Porducts</h1>

<%=link_to "add new product",new_vendor_product_path%>
<ul>
  <%@products.each do |product|%>
    <span><%=product.name%></span>
    <span><%=product.vendor_id%></span>
    <%end%>
</ul>
