<pre><%= params %></pre>
<h1> <%= @vendor.name %> </h1>
<table class="table table-striped" class="table table-hover">
    <tr>
      <th class="headings" colspan=2>PRODUCTS </th>
    </tr>
    <tr class="header-row">
    </tr>
    <tr class="row">
     <% @products.each do |product| %></tr>
	    <td><%= product.name %></td>
      <td><%= link_to "Delete", [@vendor, product], confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
</table>
