<h1>My Sales</h1>

<ul>
  <% sales_total = [] %>
  <% @all_sales.each do |sale| %>
    <% if sale.vendor_id == @vendor.id %>
      <li><%= sale.amount %> <%= Product.find(sale.product_id).name %></li>
      <% sales_total << sale.amount %>
    <% end %>
  <% end %>
  <h1>Total Sales: </h1><%= sales_total.reduce(0){|sum,x| sum + x } %></h1>
</ul>

<p><%= link_to "Add a New Sale", new_vendor_sale_path(@vendor.id) %></p>
