<% @month_num = {'JAN' => "01", 'FEB' => "02", 'MAR' => "03", 'APR' => "04", 'MAY' => "05", 'JUN' => "06",'JUL' => "07", 'AUG' => "08",'SEP' => "09", 'OCT' => "10", 'NOV' => "11", 'DEC' => "12"} %>

<% @num = @month_num[@month] %>
<% @month_sales = Sale.where("cast(strftime('%m', purchase_time) as int) = ?", @num).where("vendor_id = ?", @v_id) %>

<h2><%= Vendor.find(@v_id).vendor_name%></h2>

<% @total = @month_sales.sum('amount') %>
<%= "Total sales for #{@month.downcase.capitalize}: $#{@total}" %>
